@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fuenteHeading: 'Open Sans', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;

    --primario: #784D3C;
    --gris: #b6b1b1;
    --gris-claro: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    /* Esto es el espacio de interlineado que se le va a aplicar a todos los header*/
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

/* Utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.width-auto {
    width: auto;
}

/*----------- Header --------------*/
.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
}

.logo__nombre {
    font-weight: 400;
    color: var(--blanco);
}

.logo__bold {
    font-style: normal;
    font-weight: 700;
}


.titulo__texto,
.parrafo__texto {
    color: var(--blanco);
    text-align: center;
}

.navegacion {
    display: block;
    font-family: var(--fuenteHeading);
    margin-top: 1rem;
    gap: 2rem;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.navegacion__enlace:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media(min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        text-align: end;
    }

    .navegacion {
        display: flex;
        align-items: center;
        margin-top: 0;
        gap: 2rem;
    }

    .header__texto {
        text-align: center;
        margin-top: 8rem;
    }
}

/*--------- Main ---------*/
.boton {
    display: block;
    color: var(--blanco);
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.entrada,
.entrada__contenido {
    margin-bottom: 2rem;
}

.entrada {
    border-bottom: 1px solid var(--gris-claro);
}

.entrada:last-of-type,
.entrada:last-of-type .entrada__contenido {
    margin-bottom: 0;
}

.entrada:last-of-type {
    border-bottom: unset;
}


@media(min-width: 768px) {
    .contenedor-principal {
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 2rem;
    }

    .boton {
        display: inline-block;
    }
}

.cursos {
    list-style: none;
}

.widget-curso,
.boton--secundario {
    margin-bottom: 2rem;
}

.widget-curso {
    border-bottom: 1px solid var(--gris-claro);
}

.widget-curso:last-of-type {
    border-bottom: none;
}

.widget-curso__label,
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}

.widget-curso__info,
.curso__info {
    font-weight: initial;
}


.boton--secundario {
    background-color: var(--primario);
    font-size: 2rem;
}

/*--------- Footer ---------*/
.footer {
    background-color: var(--negro);
    padding: 3rem 0;
    margin-top: 5rem;
}

.contenedor__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    color: var(--blanco);
}



/* ########################### Sobre Nosotros ###########################*/

@media(min-width: 768px) {
    .nosotros__cuerpo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* ########################### Cursos y Talleres ###########################*/
.curso {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gris-claro);
    padding: 0 0 2rem 0;
}

.curso:last-of-type {
    margin-bottom: unset;
    border-bottom: none;
    padding: inherit;
}

@media(min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}


/*###################################### Contacto ######################################*/

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    height: 40rem;
}

.formulario,
.campo__field {
    border-radius: .5rem;
}

.formulario {
    background-color: var(--blanco);
    box-shadow: 0 9px 18px 3px var(--gris-claro);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 3rem;
}

.campo {
    display: flex;
    flex-direction: column;
    /* gap: 2rem */
}

/* 
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
} */

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
}

.campo__field--textarea {
    resize: none;
    height: 14rem;
}

@media(max-width: 480px) {
    .formulario {
        padding: 1rem;
    }

    .campo__field {
        margin-bottom: 1rem;
    }

    .campo__boton {
        align-self: auto;
    }
}

@media(min-width: 768px) {
    .campo__boton {
        align-self: flex-start;
    }
}